/* line 4, ../../app/assets/stylesheets/carts.css.scss */
#cart_items li {
  list-style: none; }
  /* line 6, ../../app/assets/stylesheets/carts.css.scss */
  #cart_items li .row {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #eee; }
    /* line 10, ../../app/assets/stylesheets/carts.css.scss */
    #cart_items li .row img {
      width: 50px;
      float: left; }
    /* line 14, ../../app/assets/stylesheets/carts.css.scss */
    #cart_items li .row .product_name {
      display: inline-block;
      width: 700px;
      line-height: 50px;
      margin-left: 20px; }
    /* line 20, ../../app/assets/stylesheets/carts.css.scss */
    #cart_items li .row .product_quantity, #cart_items li .row .product_price {
      font-size: 1.2em; }
    /* line 23, ../../app/assets/stylesheets/carts.css.scss */
    #cart_items li .row .product_quantity {
      display: inline-block;
      width: 50px;
      margin-right: 10px; }
/* line 31, ../../app/assets/stylesheets/carts.css.scss */
#cart_items .last_row {
  text-align: right;
  font-size: 1.5em; }
