<% if !notice.nil? %>
      <p id="notice"><%= notice %></p>
<% end %>






<h2>購物車</h2>
<ul id="cart_items">
  <%= render @cart.line_items %>
  <li class="last_row">
    <div id="" class="row"><span>總計</span><span>$ <%= @cart.total_price %> 圓整</span></div>
  </li>
</ul>

<div id="" class="form-actions">
  <%= button_to "清空購物車", @cart, :method=>:delete, :confirm=>"確定刪除", :class=>'btn cancel btn-danger', :id=>'btn_cancel_all_items' %>
</div>

<!-- layouts/
  application.html.erb -->
