<li>
  <div id="" class="row">
    <img src="<%= line_item.product.image_url %>" alt="">
    <span class="product_name"><strong><%= line_item.product.title %></strong></span>
    <span class="product_quantity">X <%= line_item.quantity %></span>
    <span class="product_price">$ <%= line_item.total_price %></span>
  </div>
</li>